body {
    background-color: #fbfcfc;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.logo {
    position: absolute;
    top: 25px;
    left: 80%;
}

.transformarTexto {
    margin-top: 1%;
    width: 94%;
}

.areaTexto {
    width: 100%;
    height: 200px;
    border: 1px solid #a7a7a7;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.textoParaTransformar {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Poppins';
    padding: 5px;
    font-size: 14px;
    color: black;
    border: none;
    resize: none;
}

.textoParaTransformar:focus {
    outline: none;
    font-family: 'Poppins';
}

.textoParaTransformar::placeholder {
    font-size: 13px;
    color: #00000080;
}

.corretor {
    width: 100%;
    padding-bottom: 0.8rem;
    padding-top: 0.8rem;
    max-height: 700px;
    border-radius: 10px;
    border: none;
    background-color: #009DFF;
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
    color: white;
    font-size: 17px;
    font-family: 'Poppins';
}

.Ferramentas {
    margin-top: 2%;
    width: 94%;
    font-size: 11.5px;
    font-family: 'Poppins';
    -webkit-text-stroke: 0.3px black;
    display: flex;
    gap: 5.2%;
}

.ferramenta:active {
    border-radius: 11px;
    filter: brightness(65%);
}

.palavraDoDia {
width: 100%;
    height: 275px;
    background: url(../imagens/backgroundPalavraDoDia.png);
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.rodape {
    background-color: #f9fafc;
    margin-top: 59%;
    width: 100%;
    position: absolute;
    left: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}


.center{
    text-align: center;
    font-size: 10px; 
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Poppins';
    -webkit-text-stroke: 0.3px black;
    margin-top: 2%;
    display: block;
    justify-content: center;
    align-items: center;
}

#char-count{
    font-family: 'Poppins';
    position: relative;
    text-align: end;
    display: block;
    margin-top: -15px;
    margin-bottom: 10px;
    opacity: 0.8;
}
